input(type="checkbox" name ="menu" id="menu")
.header-section
  header
    //.logo
    .item
       ul
          li
            i.icon-home-outline
            a(href="#") Home
          li
            i.icon-monitor
            a(href="#") Live
          li
            i.icon-calendar-alt
            a(href="#") Schedules
          li
            i.icon-vcard
            a(href="#") Events
          li
            i.icon-handshake-o
            a(href="#") Give
    .copy
      p 2016 Bigjtv All  Rights Reserved.
label(class="icon-menu" for="menu")
  i.icon-menu-outline
