ul
  li.home
    a(href='#')
      svg.icon-nav-home(width='46px', height='46px')
        use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-nav-home')
          svg#icon-nav-home(viewbox='0 0 64 64', width='100%', height='100%')
            path(d='M32 3L2 33h9v30h12V47h16v16h12V33h11z')
      span HOME
  li.live
    a(href='#')
      svg.icon-nav-video(width='46px', height='46px')
        use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-nav-video')
          svg#icon-nav-video(viewbox='0 0 64 64', width='100%', height='100%')
            path(d='M46 30l17-10v32L46 42v10H1V20h45zM6 28h4M14 28h4')
            path(d='M7 46h18v10H7zM6 12h46l8 8')
      span VIDEOS
  li.svg-sch
    a(href='#')
      svg.icon-nav-almanac(width='46px', height='46px')
        use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-nav-almanac')
          svg#icon-nav-almanac(viewbox='0 0 64 64', width='100%', height='100%')
            path(fill='none', d='M7 1h46v62H7z')
            path(fill='none', vector-effect='non-scaling-stroke', d='M15 63V2M20 15h28M20 21h28')
      span SCHEDULE

    li.svg-live
      a(href='#')
        svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='46px', height='46px', viewbox='0 0 70.111 70.111', style='enable-background:new 0 0 70.111 70.111;', xml:space='preserve')
          g
            path(d='M49.312,25.22H46.27V14.749h10.784C48.44,18.13,49.202,21.65,49.312,25.22z M49.289,27.645H46.27v10.473h10.514\
            C48.263,34.715,49.106,31.195,49.289,27.645z M33.841,14.749H23.056c-1.387,3.384-2.146,6.907-2.258,10.471h13.043V14.749z\
            M33.841,12.321V0.039c-4.224,3.819-7.473,7.947-9.668,12.282H33.841z M57.649,12.321C53.688,5.984,47.291,1.619,39.982,0.252\
            c3.787,3.798,6.692,7.855,8.654,12.069H57.649z M51.739,25.22h9.927c-0.169-3.675-1.062-7.195-2.666-10.471h-9.344\
            C50.937,18.142,51.639,21.665,51.739,25.22z M49.417,38.117H59c1.604-3.278,2.497-6.799,2.666-10.473h-9.947\
            C51.548,31.195,50.771,34.715,49.417,38.117z M33.841,38.117V27.645H20.818c0.188,3.55,1.029,7.07,2.507,10.473H33.841z M46.27,0\
            v12.321h9.67C43.724,7.951,40.443,3.796,46.27,0z M30.127,0.252c-7.309,1.467-13.702,5.732-17.666,12.069h9.011\
            C23.435,8.104,26.343,4.052,30.127,0.252z M20.695,38.117c-1.357-3.402-2.13-6.922-2.3-10.473H8.448\
            c0.165,3.673,1.061,7.194,2.663,10.473H20.695z M63.952,45.562v24.549H6.159V45.562h10.39c-1.537-1.497-2.922-3.162-4.087-5.019\
            h9.31c0.834,1.706,1.864,3.376,3,5.019h2.983c-1.233-1.638-2.348-3.308-3.259-5.019h9.348v5.019h2.427v-5.019h9.347\
            c-0.91,1.711-2.026,3.381-3.258,5.019h2.979c1.146-1.643,2.164-3.312,3.001-5.019h9.308c-1.166,1.861-2.551,3.526-4.088,5.019\
            H63.952z M23.93,62.999h-7.964V49.823h-1.678H12.62v16.022h11.312v-1.433L23.93,62.999L23.93,62.999z M28.655,49.823h-1.677h-1.667\
            v16.022h1.679h1.665V49.823z M43.874,49.823h-1.729h-1.722L46.915,62.05l-3.52-12.227h-1.778H29.84l5.428,16.022h1.591h1.596\
            L43.874,49.823z M57.492,62.999h-8.814v-4.175h7.833v-1.382v-1.374h-7.833V52.67h8.444v-1.433v-1.412H45.334v16.021h12.162v-1.433\
            v-1.412h-0.004V62.999z M20.454,14.749h-9.343c-1.602,3.276-2.499,6.796-2.663,10.471h9.925\
            C18.473,21.665,19.175,18.142,20.454,14.749z')
        span LIVE
    li.donate
      a(href='#')
        svg#donate_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='46px', height='46px', x='0px', y='0px', viewbox='0 0 470 470', style='enable-background:new 0 0 470 470;', xml:space='preserve')
          path(d='M122.516,233.187c0,4.142,3.358,7.5,7.5,7.5h209.968c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5H130.016\
          C125.874,225.687,122.516,229.045,122.516,233.187z')
          path(d='M399.984,165.489h-83.098c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h75.598v109.396H77.516V180.489h73.8\
          c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-81.3c-4.142,0-7.5,3.358-7.5,7.5V462.5c0,4.142,3.358,7.5,7.5,7.5h329.968\
          c4.142,0,7.5-3.358,7.5-7.5V172.989C407.484,168.847,404.126,165.489,399.984,165.489z M77.516,455V304.885h314.968V455H77.516z')
          path(d='M469.984,319.885c-4.142,0-7.5,3.358-7.5,7.5V425H160.016c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h209.968\
          c4.142,0,7.5-3.358,7.5-7.5V327.385C377.484,323.243,374.126,319.885,469.984,319.885z')
          path(d='M130.016,425h-22.5v-97.615c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5V432.5c0,4.142,3.358,7.5,7.5,7.5h30\
          c4.142,0,7.5-3.358,7.5-7.5S134.158,425,130.016,425z')
          path(d='M207.599,207.713c1.475,1.949,3.717,2.975,5.987,2.975c1.576,0,3.166-0.495,4.519-1.519\
          c3.304-2.499,3.956-7.203,1.456-10.506l-76.807-101.52c-6.774-8.952-10.354-19.634-10.354-30.89\
          c0-28.261,22.992-51.253,51.253-51.253c27.983,0,50.75,22.766,50.75,50.75c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5\
          c0-9.785-2.164-19.069-6.015-27.423C252.807,23.854,268.958,15,286.348,15c28.261,0,51.253,22.992,51.253,51.253\
          c0,11.256-3.581,21.938-10.354,30.89l-76.807,101.52c-2.5,3.303-1.848,8.007,1.456,10.506c1.354,1.024,2.943,1.519,4.519,1.519\
          c2.27,0,4.512-1.026,5.987-2.975l76.807-101.52c8.761-11.579,13.393-25.39,13.393-39.94C352.601,29.721,322.88,0,286.348,0\
          c-20.157,0-39.021,9.2-51.482,24.582C222.804,9.607,204.334,0,183.652,0c-46.532,0-66.253,29.721-66.253,66.253\
          c0,14.55,4.631,28.462,13.393,39.94L207.599,207.713z')
        span DONATE

    li.svg-cont
      a(href='#')
        svg#svg-cont_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='46px', height='46px', viewbox='0 0 455 455', style='enable-background:new 0 0 455 455;', xml:space='preserve')
          path(d='M110.748,287.48l44.169,44.169l176.732-176.732l-44.169-44.169L398.229,0c0,0,52.924,48.686,56.483,87.302\
          c4.763,51.688-49.95,145.662-135.849,231.562c-85.899,85.898-179.873,140.611-231.56,135.849C48.687,451.152,0,398.229,0,398.229\
          L110.748,287.48z')
          path(d='M42.117,202.117h-30c0-104.766,85.234-190,190-190v30C113.893,42.117,42.117,113.893,42.117,202.117z')
          path(d='M112.117,202.117h-30c0-66.168,53.832-120,120-120v30C152.491,112.117,112.117,152.491,112.117,202.117z')
        span CONTACT
