.pas-heading
    li.preacher
      svg#Layer_1(version='1.1', width='100px' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
        path(d='M503.467,221.867h-59.733v-59.733c0-24.644-12.015-47.974-32.137-62.396c-2.961-2.133-6.972-2.133-9.941-0.009\
        c-5.436,3.9-11.46,6.682-17.732,8.508l15.71,23.561c1.826,2.748,1.911,6.298,0.213,9.131l-25.6,42.667\
        c-1.536,2.569-4.318,4.139-7.313,4.139s-5.777-1.57-7.313-4.139l-25.6-42.667c-1.698-2.833-1.613-6.383,0.213-9.131l15.71-23.561\
        c-6.272-1.826-12.297-4.608-17.732-8.508c-2.978-2.125-6.98-2.125-9.941,0.009c-20.122,14.421-32.137,37.751-32.137,62.396\
        v59.733H228.19c-6.263-17.493-21.82-30.345-40.457-33.399V137.25c0-19.208,15.633-34.85,34.85-34.85h1.647\
        c2.961,5.077,8.405,8.533,14.703,8.533c9.429,0,17.067-7.637,17.067-17.067c0-9.429-7.637-17.067-17.067-17.067\
        c-6.298,0-11.742,3.456-14.703,8.533h-1.647c-28.629,0-51.917,23.287-51.917,51.917v51.217\
        c-18.637,3.055-34.193,15.906-40.457,33.399H8.533C3.814,221.867,0,225.69,0,230.4v34.133c0,4.71,3.814,8.533,8.533,8.533h8.533\
        v230.4c0,4.71,3.814,8.533,8.533,8.533h460.8c4.719,0,8.533-3.823,8.533-8.533v-230.4h8.533c4.719,0,8.533-3.823,8.533-8.533\
        V230.4C512,225.69,508.186,221.867,503.467,221.867z M179.2,204.8c12.553,0,24.124,6.869,30.293,17.067h-60.587\
        C155.076,211.669,166.647,204.8,179.2,204.8z M256,477.867c-51.755,0-93.867-42.112-93.867-93.867\
        c0-51.755,42.112-93.867,93.867-93.867c51.755,0,93.867,42.112,93.867,93.867C349.867,435.755,307.755,477.867,256,477.867z\
        M494.933,256H486.4H25.6h-8.533v-17.067h119.467h85.333h76.8H435.2h59.733V256z')
        path(d='M366.933,102.4c28.237,0,51.2-22.963,51.2-51.2S395.17,0,366.933,0c-28.237,0-51.2,22.963-51.2,51.2\
        S338.697,102.4,366.933,102.4z')
        polygon(points='351.429,136.775 366.934,162.614 382.439,136.775 370.902,119.469 362.966,119.469 			')
        path(d='M247.467,457.774v-65.237H218.3C220.501,424.545,234.718,449.463,247.467,457.774z')
        path(d='M264.533,392.533v65.237c12.749-8.311,26.965-33.229,29.167-65.237H264.533z')
        path(d='M264.533,310.226v65.237H293.7C291.499,343.455,277.282,318.537,264.533,310.226z')
        path(d='M247.465,375.467v-65.237c-12.749,8.311-26.965,33.229-29.167,65.237H247.465z')
        path(d='M293.205,316.865c9.583,15.514,16.222,36.318,17.587,58.598h21.504C329.489,350.239,314.428,328.675,293.205,316.865z')
        path(d='M293.205,451.135c21.222-11.81,36.284-33.374,39.091-58.598h-21.504C309.427,414.817,302.788,435.622,293.205,451.135z')
        path(d='M218.795,316.865c-21.222,11.81-36.284,33.374-39.091,58.598h21.504C202.573,353.183,209.212,332.378,218.795,316.865z')
        path(d='M179.703,392.533c2.807,25.225,17.869,46.788,39.091,58.598c-9.583-15.514-16.222-36.318-17.587-58.598H179.703z')
    h1.preach-l PREACHERS
    p.pas-desc Pastors who joined their hands with bigjtv for mobilizing their ministry for evangelism
    img(src="assets/img/underline.png")
 span.arrow
.video-embed-container.fit-embed-vid-yes
  // template
  .ms-staff-carousel
    // masterslider
    #masterslider.master-slider
      .ms-slide
        img(src='assets/css/master/blank.gif', data-src='assets/img/pass/1.jpg', alt='lorem ipsum dolor sit')
        .ms-info
          h3 Pastor Anil kanth
          h4 Anil Kanth Ministry Mombai
          p.email
            | E-Mail:
            a(href='#') Bigjtv@gmail.com
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          ul.ms-socials
            li.ms-ico-fb
              a(href='#') facebook
            li.ms-ico-tw
              a(href='#') twitter
            li.ms-ico-gp
              a(href='#') google+
            li.ms-ico-yt
              a(href='#') youtube
      .ms-slide
        img(src='assets/css/master/blank.gif', data-src='assets/img/pass/2.jpg', alt='lorem ipsum dolor sit')
        .ms-info
          h3 Br. Anu Jacob
          h4 LoCo ministries International
          p.email
            | E-Mail:
            a(href='#') Bigjtv@gmail.com
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          ul.ms-socials
            li.ms-ico-fb
              a(href='#') facebook
            li.ms-ico-tw
              a(href='#') twitter
            li.ms-ico-gp
              a(href='#') google+
            li.ms-ico-yt
              a(href='#') youtube
      .ms-slide
        img(src='assets/css/master/blank.gif', data-src='assets/img/pass/3.jpg', alt='lorem ipsum dolor sit')
        .ms-info
          h3 Pastor Guillermo Maldonado
          h4 King Jesus International Ministry MIAMI
          p.email
            | E-Mail:
            a(href='#') Bigjtv@gmail.com
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          ul.ms-socials
            li.ms-ico-fb
              a(href='#') facebook
            li.ms-ico-tw
              a(href='#') twitter
            li.ms-ico-gp
              a(href='#') google+
            li.ms-ico-yt
              a(href='#') youtube
      .ms-slide
        img(src='assets/css/master/blank.gif', data-src='assets/img/pass/4.jpg', alt='lorem ipsum dolor sit')
        .ms-info
          h3 Bishop Sampath Kumar
          h4 Bishop Bangalore
          p.email
            | E-Mail:
            a(href='#') Bigjtv@gmail.com
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          ul.ms-socials
            li.ms-ico-fb
              a(href='#') facebook
            li.ms-ico-tw
              a(href='#') twitter
            li.ms-ico-gp
              a(href='#') google+
            li.ms-ico-yt
              a(href='#') youtube
      .ms-slide
        img(src='assets/css/master/blank.gif', data-src='assets/img/pass/5.jpg', alt='lorem ipsum dolor sit')
        .ms-info
          h3 Pastor Chris Oyakhilome
          h4 Christ Embassy Christian ministry Lagos
          p.email
            | E-Mail:
            a(href='#') Bigjtv@gmail.com
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          ul.ms-socials
            li.ms-ico-fb
              a(href='#') facebook
            li.ms-ico-tw
              a(href='#') twitter
            li.ms-ico-gp
              a(href='#') google+
            li.ms-ico-yt
              a(href='#') youtube
      .ms-slide
        img(src='assets/css/master/blank.gif', data-src='assets/img/pass/6.jpg', alt='lorem ipsum dolor sit')
        .ms-info
          h3 Pastor Dill kumar
          h4 Dill Ministry International Dubai
          p.email
            | E-Mail:
            a(href='#') bigjtv@gmail.com
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          ul.ms-socials
            li.ms-ico-fb
              a(href='#') facebook
            li.ms-ico-tw
              a(href='#') twitter
            li.ms-ico-gp
              a(href='#') google+
            li.ms-ico-yt
              a(href='#') youtube
      .ms-slide
        img(src='assets/css/master/blank.gif', data-src='assets/img/pass/7.jpg', ,=',', alt='lorem ipsum dolor sit')
        .ms-info
          h3 Rev. Dr Ravi Mani
          h4 Victory International AG Worship Centre Bangalore
          p.email
            | E-Mail:
            a(href='#') bigjtv@gmail.com
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          ul.ms-socials
            li.ms-ico-fb
              a(href='#') facebook
            li.ms-ico-tw
              a(href='#') twitter
            li.ms-ico-gp
              a(href='#') google+
            li.ms-ico-yt
              a(href='#') youtube
      .ms-slide
        img(src='assets/css/master/blank.gif', data-src='assets/img/pass/8.jpg', alt='lorem ipsum dolor sit')
        .ms-info
          h3 Ps.Ezekiah Francis
          h4 Berachah Prophetic Ministries
          p.email
            | E-Mail:
            a(href='#') Bigjtv@gmail.com
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          ul.ms-socials
            li.ms-ico-fb
              a(href='#') facebook
            li.ms-ico-tw
              a(href='#') twitter
            li.ms-ico-gp
              a(href='#') google+
            li.ms-ico-yt
              a(href='#') youtube
      .ms-slide
        img(src='assets/css/master/blank.gif', data-src='assets/img/pass/9.jpg', alt='lorem ipsum dolor sit')
        .ms-info
          h3 Ps.Roshan Lobo
          h4 Word of Victory Belle
          p.email
            | E-Mail:
            a(href='#') Bigjtv@gmail.com
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
          ul.ms-socials
            li.ms-ico-fb
              a(href='#') facebook
            li.ms-ico-tw
              a(href='#') twitter
            li.ms-ico-gp
              a(href='#') google+
            li.ms-ico-yt
              a(href='#') youtube
    // end of masterslider
    #staff-info.ms-staff-info
    // end of template
