.video-cntr
  video#preview-player.video-js.vjs-fluid.vjs-big-play-centered.vjs-16-9(controls='', width='640' height='264', aspectRatio='16:9', preload='auto', crossorigin='anonymous')
    p.vjs-no-js
      | To view this video please enable JavaScript, and consider upgrading to a web browser that
      a(href='http://videojs.com/html5-video-support/', target='_blank') supports HTML5 video
.vjs-list
  .playlist-container
    ol.vjs-playlist
